<% provide(:title, "Edit #{@election.title}") %>
<h1>Editing election</h1>

<%= render 'form', :form_button_text => 'Update' %>

<%= link_to 'Show', @election %> |
<%= link_to 'Back', elections_path %>
