<title><%= title %></title>
<%= favicon_link_tag %>
<%= csrf_meta_tag %>
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<% #  stylesheet_link_tag 'screen', :media => 'screen, projection' %>
<% # stylesheet_link_tag 'print',  :media => 'print' %>
<!--[if IE]>
  <% # stylesheet_link_tag 'ie',  :media => 'screen, projection' %>
<![endif]-->
<%=  stylesheet_link_tag 'elections' %>